---
const name = "Peter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis assumenda earum error nobis blanditiis ut
      consequatur. Adipisci reiciendis quaerat, eaque necessitatibus ipsam nobis sit, soluta fugit esse, id sint
      nostrum?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci corporis ab numquam quia consequatur porro eos
      natus. Dolorem deleniti aspernatur natus perspiciatis, excepturi voluptas fugit animi obcaecati, voluptate eum
      nemo?
    </p>
  </body>
</html>
